.ui.two.column.centered.grid {
  height: 100vh;
}
.ui span{
  color: grey;
}

.row.center.aligned .column:hover{
  cursor: pointer;
}
.row.center.aligned .column:focus{
  opacity: 0.8;
  background-color: white;
}
.row.center.aligned .column:active{
  opacity: 0.8;
  background-color: white;
}
