<!--The content below is only a placeholder and can be replaced.-->
<div class="ui two column centered grid">
  <div class="column">
    <div class="ui segment">
        <h2 class="ui header center aligned">

      Dailyobjects Task Part 2
    </h2>
      </div>
  </div>
  <div class="four column centered row">
    <div class="column">
      <div class="ui placeholder segment">
      <div class="ui icon header">
        Click on the numbers
      </div>
      <div class="inline">
        <div class="ui celled grid equal width">
          <div class="row center aligned">
            <div class="column">
              1<br />@.?
            </div>
            <div class="column">
              2<br />ABC
            </div>
            <div class="column">
              3<br />DEF
            </div>

          </div>
          <div class="row center aligned">
            <div class="column">
              4<br />GHI
            </div>
            <div class="column">
              5<br />JKL
            </div>
            <div class="column">
              6<br />MNO
            </div>

          </div>
          <div class="row center aligned">
            <div class="column">
              7<br />PQRS
            </div>
            <div class="column">
              8<br />TUV
            </div>
            <div class="column">
              9<br />WXYZ
            </div>

          </div>
          <div class="row center aligned">
            <div class="column">
              *<br /><span>send</span>
            </div>
            <div class="column">
              0<br />Zero
            </div>
            <div class="column">
              #<br /><span>space</span>
            </div>

          </div>


</div>
      </div>
    </div>
</div>

  </div>
</div>
